In [12]:
import pandas as pd
from pandas_datareader import data as pdr
import numpy as np
from os.path import exists

symbols = ["AAPL", "MSFT", "GOOGL"]

def download():
    for symbol in symbols:
        path_to_file = f'../data/{symbol}.csv'
        if exists(path_to_file): continue
        print("downloading", path_to_file)
        start = "1980-01-01"
        end = "2022-06-15"
        ohlc = pdr.get_data_yahoo(symbols, start, end)
        ohlc.to_csv(path_to_file)

def load_data(symbol):
    path_to_file = f'../data/{symbol}.csv'
    ohlc = pd.read_csv(path_to_file, header=[0,1], index_col=[0])
    ohlc.index = pd.to_datetime(ohlc.index)
    ohlc.columns = ohlc.columns.droplevel(1)
    return ohlc

In [13]:
print("download symbols", symbols)
download()
print("finished")

download symbols ['AAPL', 'MSFT', 'GOOGL']
finished

In [15]:
ohlc = load_data('MSFT')

In [16]:
ohlc

Attributes,Adj Close,Adj Close,Close,Close,High,High,Low,Low,Open,Open,Volume,Volume
Date,,,,,,,,,,,,
1980-12-12,0.100178,NaN,0.128348,NaN,0.128906,NaN,0.128348,NaN,0.128348,NaN,469033600.0,NaN
1980-12-15,0.094952,NaN,0.121652,NaN,0.122210,NaN,0.121652,NaN,0.122210,NaN,175884800.0,NaN
1980-12-16,0.087983,NaN,0.112723,NaN,0.113281,NaN,0.112723,NaN,0.113281,NaN,105728000.0,NaN
1980-12-17,0.090160,NaN,0.115513,NaN,0.116071,NaN,0.115513,NaN,0.115513,NaN,86441600.0,NaN
1980-12-18,0.092774,NaN,0.118862,NaN,0.119420,NaN,0.118862,NaN,0.118862,NaN,73449600.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-06-09,142.639999,264.790009,142.639999,264.790009,147.949997,272.709991,142.529999,264.630005,147.080002,267.779999,69473000.0,26439700.0
2022-06-10,137.130005,252.990005,137.130005,252.990005,140.759995,260.579987,137.059998,252.529999,140.279999,260.579987,91437900.0,31422800.0
2022-06-13,131.880005,242.259995,131.880005,242.259995,135.199997,249.020004,131.440002,241.529999,132.869995,245.110001,122207100.0,46135800.0
2022-06-14,132.759995,244.490005,132.759995,244.490005,133.889999,245.740005,131.479996,241.509995,133.130005,243.860001,84784300.0,28651500.0
2022-06-15,135.429993,251.759995,135.429993,251.759995,137.339996,255.300003,132.160004,246.419998,134.289993,248.309998,91533000.0,33111700.0